@import url(http://fonts.googleapis.com/css?family=Muli);

body { 
	text-align: center;
	background-color: grey;
	color: #fff;
	font-family: 'Muli', sans-serif;
}
h1 {
	width: 200px;
	text-align: center;
}
p {
	font-size: 22px;
}
#slogan {
	font-style: italic;
}
ul {
	list-style-type: none;
}