body { 
	text-align: center;
	background-color: grey;
	color: #fff;
	font-family: Helvetica;
}
head {
	font-size: 30px;
	text-align: center;
}
title {
	text-align: center;
}
h1 {
	width: 200px;
	text-align: center;
}
p {
	font-size: 22px;
}
#slogan {
	font-style: italic;
}
ul {
	list-style-type: none;
}